## Importing the libraries

In [1]:
import pandas as pd
import numpy as np

## Importing the dataset

In [2]:
dataset = pd.read_csv('combined_csv.csv')

## Preview

In [3]:
dataset.head()

,URL,domain,tld,path_rest,url_length,path_rest_length,num_spcs_chars,domain_entropy,domain_age,created_year,updated_year,expires_year,country_code,Label
0,ztipptops.org/pCntrlde/webscr.php?cmd_=session...,ztipptops.org,org,pCntrlde/webscr.php?cmd_=session.start&amp;sdr...,98,84,0,3.026987,NaN,NaN,NaN,NaN,NaN,bad
1,krotzons.com/aG9tb3RoLmhub0B0LW9ubGluZS5kZQ==/...,krotzons.com,com,aG9tb3RoLmhub0B0LW9ubGluZS5kZQ==/DEsdR/cgi1unp...,70,57,0,3.188722,NaN,NaN,NaN,NaN,NaN,bad
2,www.gorconsul.ru/plugins/paypal.com/webscr/m/e...,www.gorconsul.ru,ru,plugins/paypal.com/webscr/m/e/q/p/z/x/j/id=102...,77,60,0,3.202820,NaN,NaN,NaN,NaN,NaN,bad
3,krotzons.com/am9iYWJlcm5lckB0LW9ubGluZS5kZQ==/...,krotzons.com,com,am9iYWJlcm5lckB0LW9ubGluZS5kZQ==/DEsdR/cgiq5pd...,70,57,0,3.188722,NaN,NaN,NaN,NaN,NaN,bad
4,paypal.us.xn-----vldfgifeq7dua2hckj.net/webscr...,paypal.us.xn-----vldfgifeq7dua2hckj.net,net,webscr.php?cmd=_login-run&dispatch=5885d80a13c...,203,163,0,4.384904,NaN,NaN,NaN,NaN,NaN,bad

In [4]:
dataset.shape

(2433, 14)

In [5]:
dataset[['URL', 'domain', 'tld', 'path_rest', 'created_year', 'updated_year', 'expires_year', 'country_code', 'Label']] = dataset[['URL', 'domain', 'tld', 'path_rest', 'created_year', 'updated_year', 'expires_year', 'country_code', 'Label']].astype("string")

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2433 entries, 0 to 2432
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   URL               2433 non-null   string
 1   domain            2433 non-null   string
 2   tld               2433 non-null   string
 3   path_rest         2235 non-null   string
 4   url_length        2433 non-null   int64
 5   path_rest_length  2433 non-null   int64
 6   num_spcs_chars    2433 non-null   int64
 7   domain_entropy    2433 non-null   float64
 8   domain_age        967 non-null    float64
 9   created_year      1006 non-null   string
 10  updated_year      936 non-null    string
 11  expires_year      966 non-null    string
 12  country_code      781 non-null    string
 13  Label             2433 non-null   string
dtypes: float64(2), int64(3), string(9)
memory usage: 266.2 KB

In [7]:
dataset.dtypes

URL                 string[python]
domain              string[python]
tld                 string[python]
path_rest           string[python]
url_length                   int64
path_rest_length             int64
num_spcs_chars               int64
domain_entropy             float64
domain_age                 float64
created_year        string[python]
updated_year        string[python]
expires_year        string[python]
country_code        string[python]
Label               string[python]
dtype: object

In [10]:
dataset['created_year'].value_counts()

created_year
2009    75
2005    67
1997    66
2010    63
2022    58
2008    58
2007    54
2011    53
2004    48
2020    45
2023    42
2021    38
2003    26
2006    25
2000    24
2001    23
1998    23
1999    23
2015    21
2012    20
2002    20
2018    19
2019    18
2017    17
1970    17
2016    13
2013    10
1995     6
2014     5
1996     5
Name: count, dtype: int64

In [14]:
dataset['tld'].value_counts()

tld
com    1081
net     177
uk      125
org     111
ru       94
       ...
cat       1
gh        1
ve        1
bd        1
tl        1
Name: count, Length: 99, dtype: int64

In [15]:
dataset['tld'].value_counts()

tld
com    1081
net     177
uk      125
org     111
ru       94
       ...
cat       1
gh        1
ve        1
bd        1
tl        1
Name: count, Length: 99, dtype: int64

In [16]:
dataset.isnull().sum()

URL                   0
domain                0
tld                   0
path_rest           197
url_length            0
path_rest_length      0
num_spcs_chars        0
domain_entropy        0
domain_age            0
created_year          0
updated_year          0
expires_year          0
country_code          0
Label                 0
dtype: int64

## Data Cleaning

In [8]:
columns_to_strip = ['URL', 'domain', 'tld', 'path_rest', 'created_year', 'updated_year', 'expires_year', 'country_code', 'Label']
dataset[columns_to_strip] = dataset[columns_to_strip].applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [9]:
# Assuming 'dataset' is your DataFrame
values_to_remove = ['Mon', 'Wed', 'Thu', '01 S', '28-A', '06-J', '03-D', '31-J', '18-O', '19-J', '12.1', 'Wed', 'Mon', '19/0', '17-M', '12-A', '18-A', '21-F', '24', '18-S', '6']
dataset = dataset[~dataset['created_year'].isin(values_to_remove)]

In [11]:
dataset = dataset[dataset['expires_year'] != 'spon']

In [12]:
columns_to_fillna = ['created_year', 'updated_year', 'expires_year', 'country_code']
dataset[columns_to_fillna] = dataset[columns_to_fillna].fillna(-1)
dataset['domain_age'] = dataset['domain_age'].fillna(-1)
# dataset['domain_age'] = dataset['domain_age'].fillna(0) #Check later if keeping this as zero has any impact on accuracy

In [20]:
dataset['domain_entropy'] = dataset['domain_entropy'].round(4)

In [13]:
columns_to_convert = ['created_year', 'updated_year', 'expires_year']

for column in columns_to_convert:
    dataset[column] = pd.to_numeric(dataset[column], errors='coerce').fillna(-1).astype(int)

In [18]:
dataset[['URL', 'domain', 'tld', 'path_rest', 'country_code', 'Label']] = dataset[['URL', 'domain', 'tld', 'path_rest', 'country_code', 'Label']].astype("string")
dataset.dtypes

URL                 string[python]
domain              string[python]
tld                 string[python]
path_rest           string[python]
url_length                   int64
path_rest_length             int64
num_spcs_chars               int64
domain_entropy             float64
domain_age                 float64
created_year                 int32
updated_year                 int32
expires_year                 int32
country_code        string[python]
Label               string[python]
dtype: object